* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-size: 17px ;
    font-family: 'Cairo', sans-serif;
}

.TitlesDiv {
    padding-bottom: 5px;
}

.formContainer {
    text-align: center;
    background: #fff2e5;
    border-radius: 30px;
    padding: 40px;
}

.loginLogo {
    height: 50px;
    margin-bottom: 5px;
}

.inputArea, .inputNameArea {
    padding: 5px;
    padding-left: 20px;
    margin: 2px 0px;
    border-image-slice: 1;
    border-color: rgb(255, 153, 0);
}

.inputArea {
    width: 420px; 
    border-radius: 20px;   
}

.inputNameArea {
    width: 208px;
    border-radius: 20px;   
}

.passwordArea {
    -webkit-text-security: circle;
}

select {
    border: 2px solid #443e3e;
}

.signupbtn, .deleteAccount {
    padding: 5px;
    width: 420px;
    margin: 10px 0px;
    background-color: #fff2e5;
    border: 2px solid white;
    color: rgb(41, 40, 40);
    transition: 0.5s;
    border-radius: 20px;
}

.signupbtn:hover {
    background-color: white;
    color: #f7b069;
}

.deleteAccount:hover {
    background-color: white;
    color: red;
}

.signText {
    padding-bottom: 20px;
}


@media (max-width: 768px) {

    .signupTemplate  {
        width: 70%;
    }

}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
::-webkit-scrollbar-thumb {
    background: #DEA85E; 
    border-radius: 5px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #fd9502; 
}

@media (max-width: 576px) {

    .signupTemplate  {
        width: 70%;
        margin-top: 20px;
    }

    .inputArea, .signupbtn, .inputNameArea {
        width: 270px;    
    }
}

@media (max-width: 500px) {

    .signupTemplate  {
        width: 85%;
        margin-top: 20px;
    }

    .inputArea, .signupbtn, .inputNameArea {
        width: 270px;    
    }
    
}