footer {
    display: flex;
    background-color: #F8F8F8;
    justify-content: space-evenly;
    padding: 15px 0px;
    margin-top: 150px;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    
}

.ContactUs {
    padding-top: 30px;
}

.brandInfos {
    display: flex;
    justify-content: space-between;
}

.far {
    padding-right: 10px;
}

.brandIcons {
    display: block;
    text-align: left;
}

.brandData {
    display: block;
    text-align: center;
}

.ensiasLogo {
    height: 70px;
    margin-top: 30px;
}

.footerLogo {
    height: 40px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.callIcon, .emailIcon {
    height: 20px;
}

.callIcon {
    margin-top: -5px;
}

.emailIcon {
    margin-top: 12px;
}

.brandNumber, .brandEmail {
    font-size: 14px;
}

.verticalLine {
    width: 8px;
    border-left: 1px solid #777575;
    height: 100px;
    margin-top: 18px;
}

@media (max-width: 500px) {

    .ensiasLogo {
        height: 45px;
    }

    .verticalLine {
        height: 80px;
    }

    .footerLogo {
        height: 30px;
        margin-bottom: 10px;
    }
    
    footer {
        padding: 10px;
    }
}
